$cBG:#bdc3c7;
$cMain:#ecf0f1;
$cBorder:#fff;
$cStop:#ef454a;
$cStopSdw:#d1483e;
$cSpin:#3498db;
$cSpinSdw:#2880b9;
$cWhite:#fff;

body {
  background-color:$cBG;
  font-size:16px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;


  & main {
    width:300px;
    background-color:$cMain;
    padding:20px;
    border:4px solid $cBorder;
    border-radius: 12px;
    margin:16px auto;
    display: flex;
    justify-content: space-between;
    user-select: none;
    
    & section.panel img {
      width:90px;
      height:110px;
      margin-bottom: 4px;
    }

    & .stop {
        cursor: pointer;
        width:90px;
        height:32px;
        background-color:$cStop;
        box-shadow:0 4px $cStopSdw;
        border-radius: 16px;
        line-height: 32px;
        text-align: center;
        font-size:14px;
        user-select: none;
        color:$cWhite;
    }
}

    & #spin {
        cursor: pointer;
        width:280px;
        height:36px;
        background-color:$cSpin;
        box-shadow:0 4px $cSpinSdw;
        border-radius: 16px;
        line-height: 36px;
        text-align: center;
        user-select: none;
        color:$cWhite;
        margin:auto;
    }

    & .unmatched {
      opacity: 0.2;
    }

    & .inactive {
      opacity: 0.4;
      pointer-events: none;
    }
  }