$cIvory :ivory;
$cBlack:black;
$cPink:pink;

body {

  & table {
    border-collapse: collapse;
    background-color:$cPink;

    & thead {
      
      & th {
        border:none;
        font-size:20px;
      }
    }
    
      & th,td {
        margin:0;
        border: 1px solid $cIvory;
        text-align: center;
        width:50px;
        height:50px;
      }
  }
}